[Desktop Entry]
Encoding=UTF-8
Name=Sidecoin
Comment=Sidecoin P2P Cryptocurrency
Comment[fr]=Sidecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sidecoin, eşten eşe kriptografik sanal para birimi
Exec=sidecoin-qt %u
Terminal=false
Type=Application
Icon=sidecoin128
MimeType=x-scheme-handler/sidecoin;
Categories=Office;Finance;
